@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 100% 79%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 100% 82%;
    --secondary-dark: 240, 100%, 74%;
    --secondary-foreground: 0 0% 10%;
    --muted: 240 100% 82%;
    --muted-foreground: 240 100% 65%;
    --accent: 240 100% 82%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 100% 82%;
    --input: 240 100% 82%;
    --ring: 240 100% 65%;
    --chart-1: 0 100% 79%;
    --chart-2: 240 100% 82%;
    --chart-3: 240 100% 65%;
    --chart-4: 30 100% 80%;
    --chart-5: 51 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 100% 79%;
    --primary-foreground: 0 0% 10%;
    --secondary: 240 100% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 100% 65%;
    --muted-foreground: 240 100% 82%;
    --accent: 240 100% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 100% 65%;
    --input: 240 100% 65%;
    --ring: 240 100% 82%;
    --chart-1: 0 100% 79%;
    --chart-2: 240 100% 82%;
    --chart-3: 240 100% 65%;
    --chart-4: 30 100% 70%;
    --chart-5: 51 100% 60%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .text-stroke-4 {
    -webkit-text-stroke: 4px #000000;
    paint-order: stroke fill;
  }

  .text-stroke-4-purple {
    -webkit-text-stroke: 4px #7A7AFF;
    paint-order: stroke fill;
  }

  .section-heading {
    @apply py-4 text-center text-6xl text-primary-foreground tracking-wide font-extrabold text-stroke-4 drop-shadow-2xl;
  }

}